# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Build
    displayName: "Build Stage"
    jobs:
      - job: Build
        displayName: "Build Job"
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: "20.x"
            displayName: "Install Node.js"

          - script: |
              npm install
            displayName: "npm install"

          - script: |
              npm run build
            displayName: "TypeScript Build"

          - script: |
              npm test
            displayName: "Run Tests"

          - script: |
              npm run lint
            displayName: "Lint Check"

          - task: CopyFiles@2
            inputs:
              SourceFolder: "$(System.DefaultWorkingDirectory)"
              Contents: |
                package.json
                package-lock.json
                Dockerfile
                .env.example
              TargetFolder: "$(System.DefaultWorkingDirectory)/dist"
            displayName: "Copy config files to dist"

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: "$(System.DefaultWorkingDirectory)/dist"
              includeRootFolder: false
              archiveType: "zip"
              archiveFile: "$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip"
              replaceExistingArchive: true
            displayName: "Archive files"

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: "$(Build.ArtifactStagingDirectory)"
              ArtifactName: "drop"
              publishLocation: "Container"
            displayName: "Publish Artifacts"

  - stage: Deploy
    displayName: "Deploy Stage"
    dependsOn: Build
    condition: succeeded()
    jobs:
      - job: Deploy
        displayName: "Deploy Job"
        steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'current'
              artifactName: 'drop'
              targetPath: '$(Pipeline.Workspace)/drop'
            displayName: 'Download Artifacts'

          - task: AzureWebApp@1
            inputs:
              azureSubscription: "10205d50-22a3-4c27-a4f8-46289da9d9e5"
              appType: "webAppLinux"
              appName: "purchaseService"
              package: "$(Pipeline.Workspace)/drop/$(Build.BuildId).zip"
              startUpCommand: "node index.js"
            displayName: "Azure App Service Deploy"
