# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "20.x"
    displayName: "Install Node.js"

  - script: |
      npm install
    displayName: "npm install"

  - script: |
      npm run build
    displayName: "TypeScript Build"

  - script: |
      npm test
    displayName: "Run Tests"

  - script: |
      npm run lint
    displayName: "Lint Check"

  - task: CopyFiles@2
    inputs:
      SourceFolder: "$(System.DefaultWorkingDirectory)"
      Contents: |
        package.json
        package-lock.json
        Dockerfile
        .env.example
      TargetFolder: "$(System.DefaultWorkingDirectory)/dist"
    displayName: "Copy config files to dist"

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: "$(System.DefaultWorkingDirectory)/dist"
      ArtifactName: "drop"
      publishLocation: "Container"
